<img style='-webkit-user-select: none; cursor: zoom-in;' class='logo', src='http://leaders-in-training.org/wp-content/uploads/2013/03/leaders-in-training-las-vegas.jpg' width='600' height='231'>

<div id='slogan'>
	<p>From the community, for the community: we empower east Las Vegas students to become first-generation college graduates and future Nevada leaders.</p>
	<div id='top-quote-shadow'></div>
	<div id='bottom-quote-shadow'></div>
</div>
