// Place all the styles related to the admin/announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-title {
  color: rgb(50,80,180);
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: underline;
}
