.flash-error {
  color: #ff0000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

.flash-notice {
  color: #008000;
  font-size: 18px;
  margin-top: 1em;
  text-align: center;
}

.flash-success {
  text-align: center;
  color: #008000;
  font-size: 18px;
  margin-top: 1em;
}
